{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "ignore": [
    "**/templates/*"
  ]
}
