{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": true,
      "regenerator": true,
      "helpers": false,
    }],
    ["transform-object-rest-spread"]
  ],
  "ignore": [
    "**/templates/*"
  ]
}
