{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": true,
        "regenerator": true
      }
    ],
    ["transform-object-rest-spread"]
  ],
  "ignore": ["**/templates/*"]
}
